# init.modem.rc for telephony services

# AT proxy service
service proxy /system/bin/proxy -d /dev/gsmtty1 -m /dev/gsmtty10
    socket atproxy-status stream 660 system radio
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy tunneling mode service
service proxy-tunneling /system/bin/proxy -d /dev/gsmtty1 -m /dev/gsmtty10 -t on
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy USB reset utility service
service atproxy_usbreset /system/bin/atproxy_usbreset
    oneshot
    user radio
    disabled

# MTS SERVICES

# mts persistent
service mtsp /system/bin/mts
    user system
    group radio log media_rw sdcard_r sdcard_rw inet
    disabled

# mts oneshot
service mtso /system/bin/mts
    user system
    group radio log media_rw sdcard_rw inet
    oneshot
    disabled

# MTS Properties, events trigging service

on property:persist.service.mtsp.enable=1
    start mtsp

on property:persist.service.mtsp.enable=0
    stop mtsp

on property:persist.system.at-proxy.mode=*
setprop system.at-proxy.mode ${persist.system.at-proxy.mode}

on property:system.at-proxy.mode=0
    stop proxy
    stop proxy-tunneling
    start atproxy_usbreset

on property:system.at-proxy.mode=1
    stop ad_proxy
    stop proxy-tunneling
    setprop sys.usb.config rndis,acm,adb
    start proxy

on property:system.at-proxy.mode=2
    stop ad_proxy
    stop proxy
    setprop sys.usb.config rndis,acm,adb
    start proxy-tunneling

on property:persist.ril-daemon.disable=0
   start ril-daemon

on property:persist.ril-daemon.disable=1
   stop ril-daemon

on boot
# disable ETWS not needed for the M.2
    setprop persist.pws_support 0

on post-fs-data

# create NVM log folder
    mkdir /data/modem
    chown system radio /data/modem
    chmod 770 /data/modem

# create factory modem FW folder
    mkdir /factory/telephony
    chown system radio /factory/telephony
    chmod 770 /factory/telephony

# create config modem FW folder
    mkdir /config/telephony
    chown system radio /config/telephony
    chmod 770 /config/telephony

# create cache modem firmware folder
    mkdir /cache/telephony
    chown system radio /cache/telephony
    chmod 770 /cache/telephony

# adding Telephony
service mmgr /system/bin/mmgr
    class main
    socket mmgr stream 660 system radio
    user system
    group radio cache inet misc system usb

# nvm manager is not used for M.2 flashbased
#service nvmmanager /system/bin/nvm_server
#    class core
#    socket nvm-ctl stream 660 system radio
#    user system
#    group radio cache inet misc system
#    seclabel u:r:nvm_server:s0

# Load Intrinsyc RapidRIL
service ril-daemon /system/bin/rild -l /system/lib/librapid-ril-core.so
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    class main
    user root
    group radio cache inet misc audio

