# Additional keystore rules
allow keystore gpsd:dir search;
allow keystore gpsd:file { read open };
allow keystore gpsd:process getattr;
allow keystore fuse:file write;
allow keystore mei_device:chr_file { read write ioctl open };
