type coreu_service,            service_manager_type;
# display.intel.mds
type display_service,          service_manager_type;
# com.intel.cws.cwsservicemanager
type cws_service,              service_manager_type;
# hwc.info
type hwc_service,              service_manager_type;
#com.intel.security.service.ISEPService
type ISEP_service,             service_manager_type;
