# intel_prop configuration file
#
# syntax:
#    type:source:destination
#
# extracts the content of the source (according to the specified type)
# and exports it as Android property
#
# run /sbin/intel_prop -l for a list of supported types
#
# eg. fs:/sys/firmware/pidv/iafw_version:sys.ia32.version

fs:/proc/sys/kernel/osrelease:sys.kernel.version
