on boot
    setprop_from_sysfs /sys/firmware/pidv/iafw_version sys.ia32.version
    setprop_from_sysfs /sys/firmware/pidv/ifwi_version sys.ifwi.version
    setprop_from_sysfs /sys/firmware/pidv/secfw_version sys.chaabi.version
    setprop_from_sysfs /sys/firmware/pidv/pdr_version sys.pdr.version
